<div class="projects box">
  <h2>Nos Projets</h2>
  <h3>
    Our mission is to create sustainable work for women in developing
    nations while helping to slow climate change.
  </h3>
  <div class="card">
    <img class="card-img-top" src='./assets/img/image_card_1r.png' alt="lycéen africain" />
    <div class="card-body">
      <h4 class="card-title">Lorem ipsum dolor sit.</h4>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae,
        id!
      </p>
      <Link to='/NosProjets'><a href="<?=ROOT_URL?>harpie_projets.html" class="card-link" onClick={activeCardsNosProjets}>
        En savoir plus
      </a></Link>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="./assets/img/image_card_2r.png" alt="ecolier africain" />
    <div class="card-body">
      <h4 class="card-title">Lorem ipsum dolor sit.</h4>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque,
        alias!
      </p>
      <Link to='/NosProjets'><a href="<?=ROOT_URL?>harpie_projets.html" class="card-link" onClick={activeCardsNosProjets}>
        En savoir plus
      </a></Link>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="./assets/img/image_card_3r.png" alt="Card image" />
    <div class="card-body">
      <h4 class="card-title">Lorem ipsum dolor sit.</h4>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus,
        sequi.
      </p>
      <Link to='/NosProjets'><a href="<?=ROOT_URL?>harpie_projets.html" class="card-link" onClick={activeCardsNosProjets}>
        En savoir plus
      </a></Link>
    </div>
  </div>
</div>