{% extends 'base.html.twig' %}

{% block title %}
    Modification du mot de passe
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">
            Modification du mot de passe
        </h1>
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger mt-4">
                {{ message }}
            </div>
        {% endfor %}
        {{ form(form) }}
        <div class="backButton col-md-2 mx-auto my-5">
            <a class="btn btn-secondary"
                href="{{
                path(
                    'app_account',
                    {
                        id: app.user.id
                    }
                )
                }}">
                Retourner à mon compte
            </a>
        </div>
    </div>
{% endblock %}
